@config "../tailwind.config.cjs";
@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
}

@custom-variant rtl {
  &:where([dir="rtl"], [dir="rtl"] *) {
    @slot;
  }
}

@custom-variant ltr {
  &:where([dir="ltr"], [dir="ltr"] *) {
    @slot;
  }
}

@import "tailwindcss";
